@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Roboto:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  max-width: 1200px;
}

#about {
  margin-top: 60px;
  scroll-margin-top: 80px;
}

#skills {
  margin-top: 20px;
  scroll-margin-top: 80px;
}

.justify-center-custom {
  justify-content: center;
}




